@charset "utf-8";
/* JB PELLIER - OCP7 - 03/2020
________________________________________*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: gray;
}

#titre {
  width: 100vw;
  text-align: center;
  margin: 0 auto;
  height: 20vh;
}

#main {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#two {
  overflow: scroll;
}

.column {
  flex: 0 1 auto;
  height: 96%;
  width: 100%;
  background: honeydew;
  border-radius: 1vw;
  margin: 1vw;
}

.text {
  margin: 5vw;
}
